body {
    background-color: purple;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, div, a {
    /* FIsA{Great_k33p_!t_up} */
    color: white;
    font-size: 3rem;
}